<!--Without social -->
<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--<title>Login First</title>-->
<!--<script>-->
<!-- window.location.replace("http://localhost/loginpage");-->
<!--</script>-->
<!--</head>-->
<!--<body>-->
<!--    <p>Please Login First to use our chatbot...</p>-->
<!--</body>-->
<!--</html>-->










<!--With socal only lohin not home-->
<!DOCTYPE html>
<html>
<head>
  <title>Login First</title>
  <script>
    console.log("Redirecting to PHP login page...");
    window.location.replace("http://localhost/loginpage/login.php");

  </script>
</head>
<body>
  <p>If not redirected, <a href="http://localhost/loginpage/login.php">click here</a>.</p>
</body>
</html>


